body {
    padding: 3em;
}

.search {
    width: 100%;
    margin-bottom: 1.5em;
}

left-panel {
    position: fixed;
    width: 35%
}

right-panel {
    position: fixed;
    margin-left: 40%;
    width:56%;
}

active-song {
    padding-top:1em;
    display:table;
}

active-song-metadata {
    line-height: inherit;
    padding-left: 5%;
    display:table-cell;
    vertical-align:middle;
}

album-art {
    max-width:100%;
    height:100px;
}

scroll-panel {
    overflow-y:scroll;
    height: calc(90vh - 75px - 50px);
}
