/* picnic overrides */
table {
   width: 95%;
}

html {
   min-width:100%;
}

.card {
   padding: 0.4em;
   width: 60%;
}

.content {
   padding-top:4em;
   padding-left:3em;
}

center {
   position:absolute;
   top:40%;
   left:50%;
   padding:10px;
   -ms-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
}

/* 
 * song-queue-view
 */

.important {
   font-weight: 800;
}

.seperator_keyword {
   font-weight: 100;
   font-size: 0.7em;
}
