<!--
    index.html
    Author: Samuel Vargas
    Date: 11/04/2016
-->

<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-el="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uap</title>
    <link rel="stylesheet" href="css/picnic.min.css">
    <link rel="stylesheet" href="css/plugins.min.css">
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/layout.css">
</head>

<body>

<!--
   Components
-->

<template id="nav-component">
   <nav>
         <router-link class="brand" to='/queue' exact>
            <span><i class="fa fa-list"></i> Song Queue</span>
         </router-link>

      <input id="bmenu" type="checkbox" class="show">
      <label for="bmenu" class="burger toggle pseudo button">&#8801;</label>
      <div class="menu">
         <router-link class="button psuedo" to='/artists' exact><i class="fa fa-users"></i> Artists</router-link>
         <router-link class="button psuedo" to='/albums' exact><i class="fa fa-life-ring"></i> Albums</router-link>
         <router-link class="button psuedo" to='/search' exact><i class="fa fa-search"></i> Search</router-link>
         <router-link class="button psuedo" to='/settings' exact><i class="fa fa-wrench"></i> Settings</router-link>
      </div>
   </nav>
</template>

<template id="now-playing-component">
    <div>
        <div class="audio-player">
            <h3><i class="fa fa-backward"></i>
                <i class="fa fa-play-circle"></i>
                <i class="fa fa-forward"></i></h3>
        </div>
    </div>
</template>

<template id='search-view'>
   <div class="flex two">

      <div>
         <h1><i class="fa fa-search"></i> Search</h1>
         <input placeholder="Artist" type="text" class="form-item" v-model="artist">
         <input placeholder="Album" type="text" class="form-item" v-model="album">
         <input placeholder="Title" type="text" class="form-item" v-model="title">
         <button class="success" v-on:click="search($event)">Search</a>
      </div>

      <div>
      <table v-if="display_results">
         <thead>
            <tr>
               <th>Artist</th>
               <th>Album</th>
               <th>Title</th>
               <th>Actions</th>
            </tr>
         </thead>
         <tbody>
            <tr v-for="(_, index) in results">
               <td>{{_["artist"][0]}}</td>
               <td>{{_["album"][0]}}</td>
               <td>{{_["title"][0]}}</td>
               <td>
               <button class="btn small" v-on:click="enqueue(index)">
                  <i class="fa fa-plus"></i>
               </button>
               </td>
            </tr>
         </tbody>
         </table>
      </div>
   </div>
</template>

<template id="song-queue-view">
   <div v-sortable:reorder_callback="on_reorder">
      <!-- TODO: use track.filepath instead of title -->
      <!-- titles are not unique but this will work as a stopgap for now -->
      <div v-for="(track, index) in get_tracks" :key="track.title">
         <article class="card">
            <header>
               <span class="important">{{track.title}}<span>
               <span class="seperator_keyword"> by </span>
               <span class="important">{{track.artist}}</span>
               <span class="seperator_keyword"> on </span>
               <span class="important">{{track.album}}</span>
            </header>
            <footer>

               <span>
                  <button v-on:click="play(index)" v-if="index != audio_index_playing">
                     <i class="fa fa-play-circle"></i>
                  </button>
               </span>

               <span>
                  <button v-on:click="remove(index)">
                     <i class="fa fa-times"></i>
                  </button>
               </span>

               <span v-if='index == audio_index_playing'>
                  <button class="success" v-if='!audio_stream_paused' v-on:click="pause(index)">
                     <i class="fa fa-pause"></i>
                  </button>
                  <button class="error" v-else v-on:click="resume(index)">
                     <i class="fa fa-pause"></i>
                  </button>
               </span>

            </footer>
         </article>
        </div>
    </div>
</template>

<template id="artists-view">
    <div>
        <h1><i class="fa fa-users fa-fw"></i>Artists</h1>
        <div class="flex three">
            <router-link
                    v-for="(_, artist) in library"
                    v-bind:to="'/albums/' + artist">{{artist}}
            </router-link>
        </div>
    </div>
</template>

<template id="all-albums-view">
    <div>
       <h1><i class="fa fa-th-large"></i> Albums by Artist</h1>
         <div v-for="(_, artist, index) in library">
            <h2> <i class="fa fa-user"></i> {{artist}}</h2>
               <div class="flex three">
                  <router-link v-for="(_, album_name) in library[artist]"
                              v-bind:to="'/albums/' + artist + '/' + album_name"
                              exact>{{album_name}}
                  </router-link>
               </div>
         </div>
    </div>
</template>

<template id="artist-albums-view">
    <div>
       <h1><i class="fa fa-user"></i> {{artist_name}}</h1>
        <div class="flex three">
            <router-link v-for="(_, album_name) in artist_albums"
                         v-bind:to="'/albums/' + artist_name + '/' + album_name"
                         exact>{{album_name}}
            </router-link>
        </div>
    </div>
</template>

<template id="track-album-view">
   <div class="full-width">
        <h1><i class="fa fa-life-ring"></i> {{artist_name}} / {{album_name}}</h1>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Queue Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(_, track) in track_list">
                <td>{{track}}</td>
                <td>
                    <button class="btn small" v-on:click="enqueue(track)">
                       <i class="fa fa-plus"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<template id='settings-view'>
   <div>
      <button class="success" v-on:click="refresh_library()">Refresh
         Library
      </button>
      <button class="error" v-on:click="signout($event)">
         Sign Out
      </button>
   </div>
</template>

<div id="app">
    <nav-component></nav-component>
    <now-playing v-if="audio_playing"></now-playing>
    <div class="content">
      <keep-alive>
         <router-view transition="fade"></router-view>
      </keep-alive>
    </div>
</div>

<script src="js/lib/vue.js"></script>
<script src="js/lib/vue-router.min.js"></script>
<script src="js/lib/vue-resource.min.js"></script>
<script src="js/lib/sortable.js"></script>
<script src="js/lib/js.cookie.js"></script>
<script src="js/lib/howler.js"></script>
<script src="js/lib/tinytim.min.js"></script>
<script src="js/lib/vuex.min.js"></script>
<script>Vue.config.devtools = true;</script>
<script src="js/store.js"></script>
<script src="js/component.js"></script>
<script src="js/route.js"></script>
</body>
</html>
