<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scaleable=no">
        <title>uap</title>
        <link rel="stylesheet" href="css/picnic.min.css">
        <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/layout.css">
    </head>

    <body>
        <center>
            <h1>Login</h1>
            <template id="login-component">
               <div>
                  <input placeholder="Username" type="text" v-model="username">
                  <input placeholder="Password" type="password" v-model="password">
                        <button class="success" v-on:click="action('login', $event)">Login</button>
                        % if signup_allowed: 
                        <button class=""  v-on:click="action('signup', $event)">Signup</></button>
                        % end
                        <transition name="fade">
                            <div class="row notice" v-if="got_message_from_server">{{message}}</div>
                        </transition>
               </div>
            </template>
            <div id="login"></div>
        </center>
    </body>

    <script src="js/lib/vue.js"></script>
    <script src="js/lib/vue-resource.min.js"></script>
    <script src="js/lib/sha512.min.js"></script>
    <script src="js/login.js"></script>

</html>
